$prefix: 'jh';
/*----------------*\
    $colors
\*----------------*/
$color-white: #fff;
$color-light-1: #eee;
$color-primary-1: #d9d9d9;

$color-grey: #3d403f;
$color-grey-light: lighten($color-grey, 60%);
$color-grey-dark: darken($color-grey, 25%);

$color-black: #2b2b2b;

$color-text: $color-grey-dark;
$color-text-nav: $color-grey;

$color-background: $color-primary-1;
$color-shadow: rgba(90, 90, 90, 0.4);

/*----------------*\
    $fonts
\*----------------*/
$font-family-base: 'Raleway', sans-serif;
$font-family-headline: 'Montserrat', sans-serif;
$font-size-base: 18px;
$font-weight-base: 300;
$font-size-small: $font-size-base * 0.875;
$font-size-code: $font-size-base * 0.800;
$base-line-height: 1.5;

$spacing-unit: 30px;

/*----------------*\
    $height & $width
\*----------------*/
$height-body: 100vh;
$height-app: 100%;
$height-header: 70px;
$height-footer: 60px;
$width_content-max: 800px;


/*----------------*\
    $images
\*----------------*/
$logo_angular: url('/assets/images/angular.png');

/*----------------*\
    $padding
\*----------------*/
.p_l_2 {
  padding-left: 2em;
}

/*----------------*\
    $margin
\*----------------*/
$margin_content: 16px;
