@import '../../styles/mixins/media-query';
$mat-card-padding: 24px;
$mat-card-avatar: 40px;
$mat-card-header-text-margin: 8px;

.header-image {
  &__angular {
    background-image: url('/assets/images/angular.png');
    background-size: cover;
  }
}

mat-card-content {
  @include media-query($on-mobile) {
    margin-left: $mat-card-avatar;
  }
  margin-left: $mat-card-avatar + $mat-card-header-text-margin;
}
