@import '../../../styles/mixins/media-query';
@import '../../../styles/variables';

$mat-card-padding: 24px;
$mat-card-avatar: 40px;
$mat-card-header-text-margin: 8px;

a:hover {
  text-decoration: none;
}

.posts-card {
  &__post {
    &:hover {
      background-color: $color-grey-light;
    }
  }
}
.header-image {
  &__angular {
    background-image: $logo_angular;
    background-size: cover;
  }
}

mat-card-content {
  @include media-query($on-mobile) {
    margin-left: $mat-card-avatar;
  }
  margin-left: $mat-card-avatar + $mat-card-header-text-margin;
}
